<!-- Header -->
<header class=" d-flex justify-content-between" id="mainHeader">
    <!-- Logo AP -->

    <div class="inHeader">
       
        <img class="m-2" src="../../../assets/APLogo.png"   alt="Logo de AP">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">Argentina Programa </a> 
        
        <img class="m-2" src="../../../assets/github.png"  alt="Github">
        <a href="https://github.com/palomagb">Github</a> 
        <img class="m-2" src="../../../assets/facebook.png"  alt="Facebook">
        <a href="https://www.facebook.com">Facebook </a> 
        <img class="m-2" src="../../../assets/instagram.png"  alt="Instagram">
        <a href="https://www.instagram.com/palomagareisborgiani/">Instagram </a> 
        <img class="m-2" src="../../../assets/linkedin.png"  alt="Linkedin">
        <a href="https://www.Linkedin.com">Linkedin</a> 

    </div> 
       
    <div class="inNav">
        <app-nav></app-nav> 
    </div>
    
</header>