/* Una forma */
/*.experiencia { 
    background: #afa;
    padding: 6px;
}
#experiencia {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
}
#experiencia > li {
    margin-right: 1rem;
}
.img{
    width: max-content;
    align-items: center;
    margin: auto;
    display: flex;
}
.card-img, .card-img-bottom, .card-img-top {
    width: max-content;
    align-items: center;
    margin: auto;
    border: solid;
} */
/* La otra forma */


.experiencia { 
    text-align: center;
    background: sandybrown;
    padding: 1px;
}
#experiencia {
    padding: 0;
    list-style: none;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}