div#first-card {
    padding: 1rem;
    margin: 1rem;
}

.info-text {
    padding: 0 1rem;
}

button.btn-primary {
    font-weight: bold;
}
.info-btns {
    padding: 1rem;
    margin: 0.1rem;
}

img.card-img-top {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    margin: 0;
    padding: 0;
}

#profile-img {
    border-radius: 40%;
    width: 15rem;
    height: 15rem;
    z-index: 1;
    margin: -5rem 0 0 -2rem;
    border: 3px solid rgb(255, 255, 255);
}

.card-title {
    margin-top: 1rem;
}