.row{
    background-color:#FBA7A8;
}
footer{
    color: grey;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(233, 232, 232) ;
}