.row{
    background-color:rgb(159, 215, 248);
}
footer{
    color: #1f1c1c;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}