<div class="proyecto m-3">
  <h1>PROYECTOS</h1>
  <app-addbutton *ngIf="login" (click)="abrirModalAgregar()"></app-addbutton>
  <br>
  <br>
  <div class="card mb-4" style="max-width: fluid;" *ngFor="let Pro of proyecto">
    <div class="row g-0">
      <div class="d-flex ">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">{{Pro.titulo}}</h5>
              <div class="d-flex justify-content-between">
                <app-editbutton *ngIf="login" (click)="abrirModal(Pro.idproyecto)"></app-editbutton>
                <app-deletebutton (click)="borrarProyecto (Pro.idproyecto)" class="me-2" *ngIf="login">
                </app-deletebutton>
              </div>
            </div>
            <p class="card-text">{{Pro.descripcion}}</p>
            <a href="https://github.com/palomagb" class="btn btn-primary" target="_blank">Ir al proyecto</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--<div class="proyecto m-3">
    <h2>Proyectos</h2>
    <ul id="proyecto">
      <li *ngFor="let Pro of Proyectos">
        <div class="card" style="width: 18rem">
        <img [src]="Pro.fotourl" class="card-img-top" alt="..." /> 
          <div class="card-body">
            <h5 class="card-title">{{Pro.proyecto}}</h5>
            <p class="card-text">
              {{Pro.descrip}}
            </p>
            <p><a href="https://github.com/" target="_blank">Link a Proyecto</a></p>
          </div>
          </div>            
      </li>
    </ul>
  </div>
  <br>
  <h2>Proyectos</h2>
  <app-addbutton *ngIf="login" (click)="abrirModalAgregar()"></app-addbutton>
  <br>
  <br>
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let Pro of proyecto">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="Pro.url" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between">
          <h5 class="card-title">{{Pro.titulo}}</h5><app-deletebutton (click)="borrarProyecto (Pro.idproyecto)" *ngIf="login"></app-deletebutton ><app-editbutton *ngIf="login" (click)="abrirModal(Pro.idproyecto)"></app-editbutton>
        </div>
          <p class="card-text">{{Pro.descripcion}}</p>
          <a href="https://github.com/palomagb" class="btn btn-primary" target="_blank">Click here</a>
        </div>
      </div>
    </div>
  </div>

  --->